@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>task 2</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/warsaw.css" asp-append-version="true" />

</head>
<body>
    <div class="container-flex stretch">
        <div class="row voffset-md">
            <div class="col-12">
                <div class="alert alert-danger fade show" role="alert" style="display: none">
                    <strong>Error:</strong> Something went wrong while loading data. Try shrinking the specified timespan.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Warsaw Notification Browser</h2>
            </div>
        </div>
        <div class="row voffset-sm">
            <div class="col-12">
                <div class=" justify-content-center align-content-center">
                    <div class="card">
                        <div class="card-header">
                            <p class="text-center"></p>
                        </div>
                        <div class="card-body">
                            <table id="notifTable" class="table table-light table-bordered table-hover stretch">
                                <thead class="text-center">
                                    <tr>
                                        <th>District</th>
                                        <th>Category</th>
                                        <th>SubCategory</th>
                                        <th>NotificationType</th>
                                        <th>Source</th>
                                        <th>Event</th>
                                        <th>CreateDate</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row voffset-sm">
            <div class="col-lg-2 offset-lg-6">
                <div class="form-group">
                    <div class="input-group date" id="dateFrom" data-target-input="nearest">
                        <div class="input-group-prepend">
                            <div class="input-group-text">From</div>
                        </div>
                        <input type="text" class="form-control datetimepicker-input" data-target="#dateFrom" />
                        <div class="input-group-append" data-target="#dateFrom" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="input-group date" id="dateTo" data-target-input="nearest">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Until</div>
                        </div>
                        <input type="text" class="form-control datetimepicker-input" data-target="#dateTo" />
                        <div class="input-group-append" data-target="#dateTo" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 text-right">
                <button id="btn-load" onclick="loadRemoteData()" type="button" class="btn btn-primary">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" style="display:none"></span>
                    Load Remote Data
                </button>
            </div>
        </div>
        </div>


    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="~/js/app.js" asp-append-version="true"></script>
</body>
</html>